@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css");


/* 全体 */
*, *::before, *::after {
  box-sizing: border-box;
  word-break: break-all;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  padding-top: 60px !important;
}

textarea {
  resize: none;
}

/* スクロールバー */
@media (max-width: 575px) {
  ::-webkit-scrollbar {
    display: none;
  }
}

/* トグルボタン */
.toggle-label {
  background-color: #d2d2d2;
  width: 60px;
  height: 30px;
  border-radius: 200px;
  cursor: pointer;
  position: relative;
  transition: 0.3s;
}

.toggle-label::before {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 27px;
  height: 27px;
  border-radius: 200px;
  margin: 1.5px;
  transition: 0.3s;
}

input:checked + .toggle-label {
  background-color: #4bd865;
  transition: 0.3s;
}

input:checked + .toggle-label::before {
  transform: translateX(30px);
}

.ellipsis-bg {
  background-color: #e4e4e4 !important;
}

.ellipsis-hover:hover {
  background-color: #f2f2f2;
}

.z-9999 {
  z-index: 9999;
}

.circle {
  width: 12rem;
  height: 12rem;
  border: 20px solid;
  border-color: #4bd865;
}

.x-mark {
  width: 30rem;
  height: 30rem;
  position: relative;
}

.x-mark::before,
.x-mark::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: red;
}

.x-mark::before {
  width: 30px;
  height: 15rem;
  transform: translate(-50%, -50%) rotate(45deg);
}

.x-mark::after {
  width: 30px;
  height: 15rem;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/* ハンバーガーメニューのボタン */
.navbar-light .navbar-toggler {
  box-shadow: none !important;
  border: none;
  outline: none;
}

.right-choice {
  background-color: #4bd865 !important;
  color: #f8f9fa !important;
}

.wrong-choice {
  background-color: #ff3146 !important;
  color: #f8f9fa !important;
}